@font-face {
  font-family: "Heebo-Black";
  font-weight: 900;
  src: url("../fonts/Heebo-Black.ttf");
}

@font-face {
  font-family: "Heebo-Regular";
  font-weight: 400;
  src: url("../fonts/Heebo-Regular.ttf");
}

@font-face {
  font-family: "Heebo-Bold";
  font-weight: 700;
  src: url("../fonts/Heebo-Bold.ttf");
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  direction: rtl;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  font-family: "Heebo-Regular";
  color: #fff;
  font-weight: 400;
  background-color: #752157;
}

.section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

.BCimg {
  position: absolute;
  z-index: -2;
}
.BCimg2 {
  display: none;
}
.control {
  width: 100vw;
  height: 100%;
  position: fixed;
  overflow: hidden;
  box-shadow: 0px -62px 53px -53px #111 inset;
  z-index: -1;
}
.bc_dots {
  position: fixed;
  z-index: -10;
}
.BLogo {
  margin-top: 4vh;
  margin-left: 7vw;
  position: relative;
  float: left;
}
.toFooter {
  position: fixed;
  bottom: 0;
  right: 7vw;
  width: 400px;
  height: 100px;
  background: url(../images/contur.png) no-repeat center center;
  z-index: 12;
}
.toFooter_content {
  position: relative;
  margin: 25px auto;
  display: flex;
  direction: ltr;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 60px;
  cursor: pointer;
  z-index: 3;
}
.toFooter_arrow_left {
  min-width: 45px;
  height: 45px;
  margin-right: 33px;
  background: url(../images/arrow_left.png) no-repeat center center;
  transform: rotate(0deg);
  position: relative;
  left: 0;
  transition: 0.25s ease-out;
}
.toFooter_content:hover .toFooter_arrow_left {
  left: -20px;
}
.toFooter_cnt_text {
  font-family: "Heebo-Bold";
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.page {
  width: 100vw;
  height: auto;
  direction: ltr;
  z-index: 1;
  position: absolute;
  top: 0;
}
.content {
  margin-top: 5.5vw;
  width: 78.5vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .heading {
    margin: 0 auto;
    text-align: center;
    width: 25vw;
    font-size: 7vw;
    line-height: 12vh;
    font-family: "Heebo-Bold";
  }
  .line {
    width: 45%;
    height: 5px;
    margin: 0 auto;
    position: relative;
    top: 1.5vw;
    background-color: #fff;
  }
  .title {
    width: 33vw;
    height: 140px;
    margin: 0 auto;
    text-align: center;
    font-size: 55px;
    line-height: 55px;
  }
}

.pointer {
  width: 78.5vw;
  height: 34vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .pointer_span {
    margin: 5vh auto 20px;
    font-family: "Heebo-Bold";
    font-size: 30px;
  }
  .pointer_img {
    margin: 0 auto;
    width: 47px;
    height: 55px;
  }
}

.text {
  width: 78.5vw;
  height: 32vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  b {
    font-family: "Heebo-Black";
    font-weight: 900;
    font-size: 3.2vw;
  }
  .text_h2 {
    width: 33%;
    margin: 0 auto;
    font-size: 3.2vw;
    font-weight: 400;
  }
  .text_p {
    margin: 12px auto;
    width: 42%;
    padding-right: 8%;
    font-size: 20px;
    line-height: 25px;
  }
}

.weather {
  width: 78.5vw;
  height: 8vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .weather_span {
    width: 400px;
    margin: 0 auto;
    font-family: "Heebo-Bold";
    font-size: 30px;
    position: relative;
    top: 92%;
  }
  .weather_span::before {
    content: "";
    display: block;
    position: absolute;
    left: 70%;
    top: 7px;
    height: 31px;
    width: 31px;
    background: url(../images/tree.png) no-repeat center center;
  }
}

.weather_block {
  margin: 0 auto;
  position: relative;
  top: 8.9vh;
  left: 0px;
  display: flex;
  .weather_B {
    width: 122px;
    height: 122px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #009845;
    border-radius: 50%;
    border: 2px solid #fff;
    opacity: 0.6;
    img {
      margin-top: 0px;
    }
    p {
      position: relative;
      top: 5px;
      font-size: 16px;
    }
  }
  .weather_B:nth-child(3n) {
    opacity: 1;
  }
}

.buy_text {
  direction: ltr;
  margin: 41.5vh auto 0;
  width: 60vw;
  text-align: center;
  font-size: 60px;
  line-height: 68px;
  b {
    font-family: "Heebo-Black";
  }
}

.slider {
  width: 70.3vw;
  height: 400px;
  margin: 8.2vh auto 0;
  display: block;
  position: relative;
  z-index: 1;
}
.slider_jar {
  width: 242px;
  height: 400px;
  margin: 0 16px;
  display: block;
  overflow: hidden;
  transition: height 1s ease;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}
.slick-arrow {
  width: 47px;
  height: 55px;
  position: absolute;
  left: -7vw;
  top: 45%;
  border: none;
  color: transparent;
  background-color: transparent;
  background: url(../images/arrow-down.png) no-repeat center center;
  transform: rotate(90deg);
  cursor: pointer;
}
.slick-next {
  transform: rotate(-90deg);
  left: 75vw;
}
.jar_img {
  width: 152px;
  height: 271px;
  margin: 0 auto 23px;
  z-index: 3;
}
p {
  margin: 0;
}
.jar_title {
  width: 230px;
  height: 36px;
  padding-right: 30px;
  margin: 0 auto;
  line-height: 34px;
  display: flex;
  justify-content: flex-end;
  font-family: "Heebo-Bold";
  font-size: 22px;
}
.jar_info_block {
  width: 230px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -6px;
}
.jar_info {
  z-index: 0;
}
.btn {
  width: 17px;
  height: 17px;
  margin: 3px 7px;
  color: #fff;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 25px;
  cursor: pointer;
}
.block_with_text {
  position: absolute;
  background-color: rgba($color: #752157, $alpha: 0.9);
  width: 230px;
  height: auto;
  height: auto;
  top: -320px;
  display: flex;
  justify-content: flex-end;
  z-index: -5;
  opacity: 0;
  ul {
    height: 288px;
    list-style: none;
    overflow-y: hidden;
    overflow-scrolling: touch;
  }
  ul:hover {
    overflow-x: hidden;
    overflow-y: auto;
  }
  ul::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ul::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
  li {
    padding-right: 20px;
    width: 40%;
  }
}
.block_with_text.on {
  z-index: 5;
  opacity: 1;
}

.jar_btn {
  width: 200px;
  height: 45px;
  margin: -6px auto;
  button {
    width: 200px;
    height: 45px;
    border: 2px solid #fff;
    background-color: #9d1d96;
    transform: skew(-20deg);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    p {
      width: 125%;
      height: 20px;
      transform: skew(20deg);
    }
  }
  button:before {
    content: "<<";
    margin-left: -5px;
    margin-top: -10px;
    width: 50px;
    height: 39px;
    background-color: #f5b317;
    color: #009845;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 13px;
    border-bottom-right-radius: 13px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: all 0.25s ease-out;
  }
  button:hover:before {
    transform: scale(1.15);
  }
}

.footer {
  width: 90vw;
  height: 205px;
  margin: 8vh auto 0;
  position: relative;
  z-index: 15;
  bottom: 0;
  background: url(../images/footer.png) no-repeat;
  background-size: 100% 100%;
}
.footer_inf {
  width: 36%;
  height: auto;
  float: right;
  text-align: right;
  margin-top: 1.5vw;
  margin-right: 5vw;
  transform: skew(0deg);
  span {
    font-family: "Heebo-Bold";
    font-size: 30px;
  }
  p {
    font-size: 1.3em;
    margin-top: -8px;
  }
  a {
    position: relative;
    top: 15px;
    cursor: pointer;
  }
  a:after {
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    top: 4px;
    left: -24px;
    background: url(../images/download.png) no-repeat center;
  }
}

.footer_form_block {
  width: 49vw;
  height: 105px;
  margin-left: 2vw;
  position: absolute;
  top: 25px;
  transform: skew(-24deg);
}
.footer_form {
  width: 49vw;
  height: 105px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  .input {
    width: 30%;
    height: 45px;
    margin-left: 1vw;
    margin-bottom: 12px;
    border: 1px solid #fff;
    background-color: #009845;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-align: center;
    transition: all 0.1s ease-out;
  }
  .input::placeholder {
    font-size: 18px;
    color: #fff;
    text-align: center;
    transform: skew(24deg);
  }
  .input:focus::placeholder {
    color: transparent;
    transform: skew(-24deg);
  }
  .buttonSearch {
    width: 30%;
    height: 45px;
    border: 2px solid #fff;
    background-color: #9d1d96;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    p {
      height: 20px;
      transform: skew(24deg);
    }
  }
  .content_write {
    width: 100%;
    height: 100%;
    text-align: center;
    transform: skew(24deg);
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
  }
  .content_write::placeholder {
    color: #fff;
    border: none;
  }
  .content_write:focus {
    border: none;
    color: #fff;
  }
  .buttonSearch:before {
    content: "<<";
    margin-left: -5px;
    margin-top: -10px;
    width: 50px;
    height: 39px;
    background-color: #f5b317;
    color: #009845;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 13px;
    border-bottom-right-radius: 13px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: all 0.25s ease-out;
  }
  button:hover:before {
    transform: scale(1.15);
  }
}

.content_choose {
  width: 30%;
  height: 45px;
  padding-left: 5%;
  border: 1px solid #fff;
  background-color: #009845;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  font-size: 110%;
  color: #fff;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  transition: all 0.2s ease-out;
  z-index: 1;
  p {
    font-size: 100%;
    transform: skew(24deg);
  }
}
.content_choose:hover:before {
  transform: scale(1.15);
}
.content_choose:before {
  content: "+";
  width: 50px;
  height: 90%;
  margin: 2px 2px;
  background-color: #f5b317;
  color: #009845;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 13px;
  border-bottom-right-radius: 13px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: all 0.25s ease-out;
  z-index: 5;
}

.benefits_checkbox {
  width: 22%;
  height: 45px;
  text-align: center;
  color: #fff;
  margin-top: 24px;
  display: flex;
  flex-direction: row-reverse;
  transform: skew(24deg);
  position: relative;
  left: -6.5%;
  top: -12px;
}
.check_box {
  display: none;
}
.check_box + label {
  background: url("../images/Checkbox-Square.png") no-repeat;
  height: 23px;
  width: 20px;
  margin: 0px auto;
  display: inline-block;
  transition: all 0.1s ease-out;
  cursor: pointer;
}
.check_box:checked + label {
  background: url("../images/Checkbox.png") no-repeat;
  height: 23px;
  width: 20px;
  margin: 5px auto;
  display: inline-block;
  transition: all 0.1s ease-out;
  cursor: pointer;
}
.benefitsLabel {
  width: 100%;
}

.show {
  display: block;
}

.content_radio {
  position: absolute;
  margin-right: 32%;
  bottom: 3px;
  height: 45px;
  width: 30%;
  background-color: #f5b317;
  border-top-left-radius: 13px;
  border-bottom-right-radius: 13px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #fff;
  display: flex;
  opacity: 0;
}
.form_radio_btn {
  width: 50%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: skew(24deg);
  label {
    cursor: pointer;
    line-height: 21px;
  }
}
.radio:checked + label {
  color: #009845;
}
.radio {
  opacity: 0;
  position: absolute;
}
.label_line::before {
  content: "";
  position: absolute;
  right: 0;
  top: 7px;
  width: 1px;
  height: 30px;
  display: block;
  background-color: #fff;
}

@media (max-width: 1200px) {
  .content {
    .heading {
      width: 40vw;
      font-size: 10vw;
    }
  }
  .footer_inf {
    width: 100%;
    text-align: center;
    margin-top: 1.5vw;
    margin-right: 0vw;
    transform: skew(0deg);
  }
  .footer_form_block {
    width: 100%;
    height: auto;
    margin-left: 2vw;
    position: absolute;
    top: 25px;
    transform: skew(-24deg);
  }
  .footer_form {
    width: 85%;
    height: 105px;
    margin-top: 5.5vw;
  }
  .content_radio {
    width: 25%;
    margin-right: 27%;
  }
  .form_radio_btn {
    width: 50%;
  }
}

@media (max-width: 960px) {
  .content {
    .heading {
      width: 40vw;
      font-size: 10vw;
      line-height: 100px;
    }
    .title {
      width: 50vw;
    }
  }
  .pointer {
    .pointer_span {
      margin-top: 50px;
    }
    .pointer_img {
      position: relative;
      top: 30px;
    }
  }
  .text {
    margin-top: 100px;
  }
  .footer_form {
    margin-top: 6.5vw;
  }
}

@media (max-width: 800px) {
  .pointer,
  .text,
  .content,
  .weather {
    width: 100vw;
  }
  .footer_form_block {
    top: 30px;
  }
  .content {
    margin-top: 50vw;
    .heading {
      width: 80vw;
      margin-top: -50vh;
    }
    .line {
      width: 70vw;
    }
    .title {
      width: 60vw;
    }
  }
  .text {
    margin-top: 30vh;
    .text_h2 {
      width: 52vw;
      margin-right: 0;
    }
    .text_p {
      width: 60vw;
    }
  }
  .weather {
    .weather_span {
      width: 60vw;
      margin-right: 0;
    }
    .weather_span::before {
      left: 55%;
    }
  }
}

@media (max-width: 760px) {
  .BCimg,
  .BLogo {
    display: none;
  }
  .bc_dots {
    top: 0;
  }
  .BCimg2 {
    display: block;
    width: 70vw;
    margin: 0 auto;
  }
  .control {
    z-index: -1;
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .toFooter {
    right: auto;
    width: 100vw;
  }
  .toFooter_content {
    width: 30%;
    transition: all 0.2s ease-out;
  }
  .toFooter_content::after {
    content: "";
    width: 40px;
    height: 30px;
    display: block;
    background: url(../images/arrow_up.png) no-repeat center center;
  }
  .toFooter_content::before {
    content: "";
    width: 40px;
    height: 30px;
    display: block;
    background: url(../images/arrow_up.png) no-repeat center center;
  }
  .toFooter_arrow_left {
    display: none;
  }
  .toFooter.on {
    .toFooter_content::before {
      transform: rotate(180deg);
    }
    .toFooter_content::after {
      transform: rotate(180deg);
    }
  }
  .content {
    height: 80vh;
    margin-top: 90%;
    margin-bottom: 70%;
    .heading {
      font-size: 20vw;
      width: 90vw;
      line-height: 25vw;
    }
    .line {
      width: 85vw;
    }
    .title {
      width: 80vw;
      font-size: 15vw;
      line-height: 15vw;
    }
  }
  .pointer {
    margin-top: -25vh;
    height: 3vh;
    .pointer_span {
      display: none;
    }
  }
  .text {
    b {
      font-size: 5vw;
    }
    .text_h2 {
      margin-right: 0;
      width: 70vw;
      font-size: 5vw;
    }
    .text_p {
      width: 80vw;
    }
  }
  .text::before {
    content: "";
    width: 100vw;
    height: 75px;
    background: url(../images/sunny.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    top: -15vh;
    left: auto;
  }
  .weather {
    margin-top: 10vh;
    .weather_span {
      width: 100vw;
      text-align: center;
    }
    .weather_span::before {
      top: -7vh;
      margin: 0;
      left: auto;
      width: 100vw;
      height: 60px;
      background-size: contain;
    }
  }
  .weather_block {
    top: 20vh;
  }
  .slider {
    margin-bottom: 20vw;
  }
  .footer {
    width: 120vw;
    left: -10vw;
    height: 70vw;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: -4;
    opacity: 0;
    transition: all 0.2s ease-out;
  }
  .footer.on {
    z-index: 5;
    opacity: 1;
  }
  .footer_inf {
    height: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
  }
  .footer_form_block {
    top: auto;
    bottom: 14vw;
    width: 90%;
  }
  .footer_form {
    height: 30vw;
    .input,
    .buttonSearch,
    .content_choose,
    .benefits_checkbox {
      width: 40%;
      margin-left: 3vw;
    }
  }
  .content_radio {
    width: 34%;
    bottom: 4.5vw;
    margin-right: 0%;
  }
  .benefits_checkbox {
    left: auto;
  }
  .slider {
    height: auto;
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .slider_jar {
    width: 50%;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}

@media (max-width: 570px) {
  .BCimg2 {
    width: 100vw;
  }
  .weather {
    margin-top: 30vw;
    width: auto;
    height: auto;
    .weather_span::before {
      top: -8vh;
    }
  }
  .toFooter_content {
    width: 60%;
  }
  .weather_block {
    margin: 0 auto;
    position: relative;
    top: 10vh;
    left: 0px;
    width: 80vw;
    height: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
    flex-flow: wrap;
    columns: 2;
    .weather_B {
      width: 40%;
      height: 40%;
      margin: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .buy_text {
    margin-top: 30vw;
  }
  .text {
    margin-top: 70%;
    .text_h2 {
      margin-left: 35%;
    }
  }
  .text::before {
    top: -85%;
  }
  .slider {
    margin-bottom: 20vh;
  }
  .footer {
    height: 90vh;
  }
  .footer_inf {
    width: 85vw;
    height: 30vh;
  }
  .footer_form_block {
    height: 50vh;
    margin-top: 5vh;
    bottom: auto;
    transform: skew(0deg);
    display: flex;
    justify-content: center;
  }
  .footer_form {
    height: 100%;
    width: 85vw;
    margin-top: 25vh;
    .input,
    .buttonSearch,
    .content_choose,
    .benefits_checkbox {
      width: 100%;
      height: 5vh;
      margin-left: 0;
      margin-right: 7vw;
      transform: skew(-24deg);
    }
    .content_choose {
      p {
        font-size: 100%;
      }
    }
    .benefits_checkbox {
      transform: skew(0deg);
    }
  }
  .content_radio {
    width: 80%;
    bottom: -13vh;
    margin-right: 5%;
    transform: skew(-24deg);
  }
  .slider {
    height: auto;
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .slider_jar {
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .pointer {
    .pointer_img {
      top: 20%;
    }
  }
}

@media (max-width: 375px) {
  .toFooter_content {
    width: 80%;
  }
  .text {
    margin-top: 80%;
  }
  .slider {
    width: 100vw;
  }
  .pointer {
    .pointer_span {
      margin-top: 8vh;
    }
  }
  .weather {
    margin-top: 80%;
    .weather_span::before {
      top: -150%;
    }
  }
  .weather_block {
    width: 95vw;
    height: 95vw;
  }
  .buy_text {
    margin-top: 15vh;
    font-size: 15vw;
    line-height: 18vw;
  }
}
